@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
    font-family:'Rajdhani', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap')
}
@font-face {
    font-family:'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap')
}

.arrow{
    animation:blink 1s infinite;
    -webkit-animation:blink 1s infinite; /*Safari and Chrome*/
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 100;
    }
    100%{
        opacity: 0;
    }
}
@-webkit-keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 100;
    }
    100%{
        opacity: 0;
    }
}
